/* src/App.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 2rem;
}

.App {
  text-align: center;
}
